@media all {
  .page-break {
    display: none; /* Hide the element in screen view */
  }
}

@media print {
  @page {
    size: A4; /* Sets the page size to A4 */
    margin: 10mm; /* Sets a 10mm margin on all sides */
  }

  .page-break {
    display: block; /* Make the element visible for printing */
    page-break-before: always; /* Force a page break before this element */
    margin-top: 1rem; /* Optional: Add some space before the new page content */
  }

  .not-print {
    display: none;
  }
}
